.page-main {
  background-color: rgb(241, 241, 241);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container {
    background-color: white;
    border-radius: 4px;
    padding: 4rem;
    width: 25%;
    box-shadow: 4px 4px 8px 4px rgb(177, 176, 176);
    display: flex;
    flex-direction: column;
  }
  .form-items {
    margin: 0.5rem;

    input {
      padding: 0.4rem;
      width: 100%;
      border: thin solid rgb(133, 133, 133);
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}
